.row-header{
    margin: 0px auto;
    padding: 0px;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px;
    min-height: 400px;
}
.body{
    background-color: #ffde03;
    
}
.footer{
    background-color:#ffee58;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.header{
    background-color: #fbc02d;
}

